:root {
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-base-size: 16px;
  --font-family-serif: "Times New Roman", Times, serif;
  --font-family-sans-serif: Arial, Helvetica, sans-serif;
  --font-family-open-sans: 'open_sansregular';
  --font-family-monospace: "Lucida Console", Monaco, monospace;
}